.FreshRecommendations {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 4rem 0rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 4rem;
  font-size: 40px;
  font-weight: bolder;
}
.itemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 4rem;
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 5px;
  box-shadow: 0 0 50px #ccc;
  background-color: #fff;
}
.itemCard {
  width: 300px;
  height: 400px;
  margin: 2rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 30px #ccc;
  background-color: #fff;
  margin-bottom: 4rem;
}
.itemCardImage {
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0px 0px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #ccc;
}
.itemCardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding-top: 1rem;
  margin-bottom: 5px;
}
.itemCardBodyRowOne {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
}
.itemCardBodyRowTwo {
  display: flex;
  flex-direction: row;
  justify-self: end;

  /* align-items: center; */
  justify-content: center;
  width: 100%;
  padding-bottom: 5px;
}
.itemCardName {
  box-sizing: border-box;
  font-size: 18px;
  width: 60%;
  text-align: Left;
  padding-left: 1.5rem;
  font-weight: bold;
  margin-bottom: 0px;
}
.itemCardPrice {
  box-sizing: border-box;
  font-size: 18px;
  width: 40%;
  text-align: right;
  padding-right: 1.5rem;
  font-weight: bold;
  margin-bottom: 0px;
}
.itemCardSeller {
  box-sizing: border-box;
  font-size: 12px;
  width: 65%;
  text-align: left;
  padding-left: 1.5rem;
}
.itemCardDate {
  box-sizing: border-box;
  font-size: 12px;
  width: 35%;
  text-align: right;
  padding-right: 1.5rem;
}
.itemCardBodyRowTwo span {
  font-size: 12px;
  font-weight: bold;
}
.itemSubmitButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  border-radius: 0px 0px 15px 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 0px;
  border-top: 1px solid #ccc;
}
.itemSubmitButton:hover {
  border: 0px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.itemSubmitButtonDisabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  border-radius: 0px 0px 15px 15px;
  background-color: rgb(200, 200, 200);
  color: rgb(100 100 100);
  font-size: 20px;
  font-weight: bold;
  border: 0px;
  border-top: 1px solid #ccc;
}

@media all and (max-width: 480px) {
  .itemContainer {
    padding: 0rem;
    padding-top: 4rem;
  }
  .FreshRecommendations {
    padding-left: 2rem;
  }
  .itemCard {
    margin-bottom: 2rem;
  }
}
@media all and (max-width: 400px) {
  .itemContainer {
    padding: 0rem;
    padding-top: 4rem;
  }
  .FreshRecommendations {
    font-size: 20px;
  }
  .MyOrders {
    padding-left: 2rem;
    font-size: 20px;
  }
  .MyProducts {
    padding-left: 2rem;
    font-size: 20px;
  }
}

@media all and (max-width: 350px) {
  .itemCard {
    height: 450px;
  }
  .itemCardBody {
    height: 150px;
  }
  .itemCardBodyRowTwo {
    flex-direction: column;
  }
  .itemCardSeller {
    width: 80%;
    margin-bottom: 10px;
  }
  .itemCardDate {
    width: 80%;
    padding-right: 0rem;
    padding-left: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
  }
}
